# Dependencies
node_modules

# Build output
dist

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea
.vscode/*
!.vscode/extensions.json

# Cache
.cache
*.tsbuildinfo
